<%- layout("layouts/boilerplate") %>
    <h1 class="text-center">All Events</h1>
    <% if (currentUser && currentUser.isAdmin) { %>
        <a href="/events/new">New Event</a>
        <% } %>
            <div class="row d-flex justify-content-between">
                <% for (let event of events) { %>
                    <div class="card mb-3 col-md-6">
                        <img src="<%= event.image.url %>" width="100%" alt="">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= event.name %>
                            </h5>
                            <p class="card-text">
                                <%= event.date %>
                            </p>
                            <a href="/events/<%= event._id %>" class="btn btn-primary">More Details</a>
                        </div>
                    </div>
                    <% } %>
            </div>