<%- layout("layouts/boilerplate") %>
    <h1 class="text-center">All Events</h1>
    <% if (currentUser && currentUser.isAdmin) { %>
        <a href="/events/new">New Event</a>
        <% } %>
            <div class="row" id="allEventsContainer">
                <% for (let event of events) { %>
                    <div class="card event-card">
                        <div class="row">
                            <div class="col-6 offset-3">
                                <img src="<%= event.image.url %>" width="100%" alt="" crossorigin="anonymous">
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= event.name %>
                            </h5>
                            <p class="card-text">
                                <%= event.dateTime.toLocaleDateString() %>
                            </p>
                            <a href="/events/<%= event._id %>" class="btn btn-primary">More Details</a>
                        </div>
                    </div>
                    <% } %>
            </div>