<%- layout("layouts/boilerplate") %>
    <h1 class="text-center">Forum</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="/forum" method="POST" class="validatedForm mb-3" novalidate>
                <div class="mb-2">
                    <label for="body" class="form-label">New Post</label>
                    <textarea name="post[body]" id="body" class="form-control" required></textarea>
                    <div class="form-text">Please be respectful in the forum.</div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>

            <% for (let post of posts) { %>
                <% if (!post.isComment) { %>
                    <div class="card mb-3">
                        <div class="card-header">
                            Posted by <%= post.author.username %>
                                <% if (post.author.isAdmin) { %>
                                    <span class="badge text-bg-primary">Admin</span>
                                    <% } %>
                                        on <span class="post-date" data-date="<%= post.date.toISOString() %>"></span>
                        </div>
                        <div class="card-body">
                            <%= post.body %>
                        </div>
                        <div class="card-footer">
                            <%= post.comments.length %> comment<%= post.comments.length==1 ? "" : "s" %> <a
                                        href="/forum/<%= post._id %>">More Details</a>
                        </div>
                    </div>
                    <% } %>
                        <% } %>
        </div>
    </div>
    <script src="/scripts/renderDate.js"></script>