<%- layout("layouts/boilerplate") %>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mb-3">
                <div class="card-header">
                    Posted by <%= post.author.username %>
                </div>
                <div class="card-body">
                    <%= post.body %>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <%= post.date %>
                    </li>
                </ul>
                <div class="card-body">
                    <form action="/forum/<%= post._id %>/comments" method="POST" class="validatedForm" novalidate>
                        <div class="mb-2">
                            <label for="body" class="form-label">New Comment</label>
                            <textarea name="post[body]" id="body" class="form-control" required></textarea>
                            <div class="form-text">Please be respectful in the forum.</div>
                        </div>
                        <button class="btn btn-success">Add Comment</button>
                    </form>
                </div>
                <% if (post.author._id.equals(currentUser._id)) { %>
                    <div class="card-body">
                        <a href="/forum/<%= post._id %>/edit" class="card-link btn btn-info">Edit Post</a>
                        <form action="/forum/<%= post._id %>?_method=DELETE" method="POST" class="d-inline">
                            <button class="btn btn-danger">Delete Post</button>
                        </form>
                    </div>
                    <% } %>
            </div>
            <% if (post.comments.length) { %>
                <h2>
                    <%= post.comments.length %> Comment<%= post.comments.length==1 ? "" : "s" %>
                </h2>
                <% } %>
                    <% for (let comment of post.comments) { %>
                        <div class="card mb-3">
                            <div class="card-header">
                                Posted by <%= comment.author.username %>
                            </div>
                            <div class="card-body">
                                <%= comment.body %>
                            </div>
                            <div class="card-footer">
                                <%= comment.date %>
                                    <% if (comment.author._id.equals(currentUser._id)) { %>
                                        <form action="/forum/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE"
                                            method="POST" class="d-inline">
                                            <button class="btn btn-link">Delete</button>
                                        </form>
                                        <% } %>
                            </div>
                        </div>
                        <% } %>
        </div>
    </div>